@media (max-width: 1230px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1100px) {
  .body-container {
    width: 100rem;
  }
  .header-container {
    width: 100rem;
  }
}
@media (max-width: 900px) {
  .body-container {
    width: 80rem;
  }
  .header-container {
    width: 80rem;
  }
  .introduction-content-grid {
    grid-template-columns: 1fr;
  }
  .img-introduction-container {
    margin-top: 5rem;
  }
  .about-me-grid {
    grid-template-columns: 1fr;
  }
  .contact-grid {
    grid-template-columns: 1fr;
  }
  .introduction-container {
    padding: 14rem 1rem 4rem 1rem;
  }
}
@media (max-width: 720px) {
  .body-container {
    width: 70rem;
  }
  .header-container {
    width: 70rem;
  }
  .nav-list-items {
    gap: 1rem;
  }
}
@media (max-width: 630px) {
  .body-container {
    width: 60rem;
  }
  .header-container {
    width: 60rem;
  }
  .nav-list-items {
    display: none;
  }
  .img-introduction {
    position: relative;
    width: 22rem;
  }
}
@media (max-width: 546px) {
  .body-container {
    width: 54rem;
  }
  .header-container {
    width: 54rem;
  }
  .nav-list-items {
    display: none;
  }
  .image-grid {
    grid-template-columns: 1fr 1fr;
  }
  html {
    font-size: 46%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 40%;
  }
  .youtube-container {
    display: flex;
    justify-content: center;
}
